<!doctype html>
<html lang="en">
<head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Noah's Test</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/presets">Presets</a>
        </div>
      </div>
    </div>
    </div>
  </nav>
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-1 text-center fw-bold">SignalWire 2: Electric Boogaloo</h1>
      <p class="col-md-20 fs-3 ">Welcome to my bootleg SignalWire clone. A simple & quick site to demonstrate Relay Rest Presets, a user-friendly addition to our XML functionality.</p>
      <div class="container text-center">
        <div class="col align-self-center">
          <a class="btn btn-dark btn-lg" href="/presets" role="button">Click here to be redirected to Presets!</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <title>Noah's Testing Realm</title>
</head>
<body>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/image/card_1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">User-Friendly Navigation</h5>
      <p class="card-text">Easy readability and layout ensures customers find what they need with ease, while also delivering their use-case right to them!</p>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/image/card_2.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Documentation & Help Built-in</h5>
      <p class="card-text">If the user runs into trouble getting their desired bin, they can simply find documentation right here! If they prefer, they have the option of support right there as well.</p>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/image/card_3.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Reduce Common Support Cases</h5>
      <p class="card-text">With easier access to simple use-cases, we may not only see an increase in smaller customers, but also reduce the number of support Cases about XML functionality.</p>
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>